<section class="services-section">
  <div class="container">
    <h2>Get Exactly What You Need</h2>

    <div class="services-grid">
      <div class="service-card">
        <h3>Executive & Leadership Alignment</h3>
        <ul class="service-list">
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Identify and close leadership gaps slowing growth
          </li>
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Strengthen decision-making & executive influence
          </li>
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Align vision, priorities, and communication
          </li>
        </ul>
      </div>

      <div class="service-card">
        <h3>Go-To-Market & Growth Acceleration</h3>
        <ul class="service-list">
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >
            Build scalable growth strategies and GTM frameworks
          </li>
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Optimize pricing, financial structures, and execution
          </li>
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Enhance cross-functional collaboration for faster results
          </li>
        </ul>
      </div>

      <div class="service-card">
        <h3>Change Management & Organizational Performance</h3>
        <ul class="service-list">
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Navigate M&As, restructuring, and digital transformation
          </li>
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Implement AI-driven strategies for efficiency and scalability
          </li>
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Drive adoption with structured change roadmaps
          </li>
        </ul>
      </div>

      <div class="service-card">
        <h3>Change Management & Organizational Performance</h3>
        <ul class="service-list">
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Navigate M&As, restructuring, and digital transformation
          </li>
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Implement AI-driven strategies for efficiency and scalability
          </li>
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Drive adoption with structured change roadmaps
          </li>
        </ul>
      </div>

      <div class="service-card center-card">
        <h3>Change Management & Organizational Performance</h3>
        <ul class="service-list">
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Navigate M&As, restructuring, and digital transformation
          </li>
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Implement AI-driven strategies for efficiency and scalability
          </li>
          <li>
            <span style="font-size: 20px; color: #525257; font-weight: 400"
              >✔</span
            >Drive adoption with structured change roadmaps
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
