<section class="brands-section">
  <div class="container">
    <h2>Organizations & Brands Impacted by Us</h2>

    <!-- <div class="logos-container">
      <div class="logos-slider">
        <div class="logos-track">
       


          <div class="logo-item">
            <img src="assets/Bloomberg.png" alt="HSBC logo" style="width: 120px; height: 86px; margin-top:33px">
          </div>
          <div class="logo-item">
            <img src="assets/i-Photoroom.png" alt="HSBC logo" style="width: 190px; height: 126px; margin-top: 30px;">
          </div>
        <div class="logo-item">
            <img src="assets/Chevron.jpg" alt="Chevron" style="width: 99px; height: 99px; margin-top:33px">
          </div>
          <div class="logo-item">
            <img src="assets/c-Photoroom.png" alt="ConocoPhillips logo"
              style="width: 160px; height: 46px; margin-top: 10px;">
          </div>
          <div class="logo-item">
            <img src="assets/e-Photoroom.png" alt="AEGON logo" style="width: 100px; height: 76px; margin-top: 30px;">
          </div>
          <div class="logo-item">
            <img src="assets/affirm.png" alt="HSBC logo" style="width: 120px; height: 86px; margin-bottom: -17px;">
          </div>
          <div class="logo-item">
            <img src="assets/k-Photoroom.png" alt="Merrill Lynch logo" style="width: 120px; height: 93px;">
          </div>
          <div class="logo-item">
            <img src="assets/h-Photoroom.png" alt="HSBC logo" style="width: 150px; height: 66px;">
          </div>
          <div class="logo-item">
            <img src="assets/a-Photoroom.png" alt="BP logo" style="width: 120px; height: 66px; margin-top: 5px;">
          </div>
          <div class="logo-item">
            <img src="assets/g-Photoroom.png" alt="HSBC logo" style="width: 120px; height: 176px;">
          </div>
          <div class="logo-item">
            <img src="assets/Bankofamerica.png" alt="Bankofamerica" style="width: 123px; height: 182px; margin-top: 20px;">
          </div>
          <div class="logo-item">
            <img src="assets/b-Photoroom.png" alt="Swift logo" style="width: 120px; height: 46px;">
          </div>
          <div class="logo-item">
            <img src="assets/d-Photoroom.png" alt="Merrill Lynch logo" style="width: 120px; height: 93px; margin-top: 20px;">
          </div>
          <div class="logo-item">
            <img src="assets/Swift.png" alt="Swift" style="width: 133px; height: 62px; margin-top: 20px;">
          </div>
          <div class="logo-item">
            <img src="assets/f-Photoroom.png" alt="HSBC logo" style="width: 180px; height: 196px;">
          </div>
         


        
        
          <div class="logo-item">
            <img src="assets/abc.png" alt="ABC" style="width: 83px; height: 70px; margin-bottom: 4px;">
          </div>
          <div class="logo-item">
            <img src="assets/wsj.png" alt="WSJ" style="width: 63px; height: 72px;">
          </div>
          <div class="logo-item">
            <img src="https://static.cdnlogo.com/logos/f/42/forbes.png" alt="Forbes"
              style="width: 175px; height: 145px; margin-top: 20px;">
          </div>
          <div class="logo-item">
            <img src="assets/abc.png" alt="ABC" style="width: 83px; height: 70px; margin-bottom: 4px;">
          </div>
          <div class="logo-item">
            <img src="assets/wsj.png" alt="WSJ" style="width: 63px; height: 72px;">
          </div>
          <div class="logo-item">
            <img src="assets/wsj.png" alt="WSJ" style="width: 63px; height: 72px;">
          </div> 


        </div>
      </div>
    </div> -->

    <div class="media-logos-container">
      <div class="media-logos">
        <!-- Original logos -->

        <div class="media-logo">
          <img src="assets/Bloomberg.png" alt="HSBC logo" style="width: 120px; height: 86px; margin-top:33px">
        </div>
        <div class="media-logo">
          <img src="assets/i-Photoroom.png" alt="HSBC logo" style="width: 190px; height: 126px; margin-top: 30px;">
        </div>
      <div class="media-logo">
          <img src="assets/Chevron.jpg" alt="Chevron" style="width: 99px; height: 99px; margin-top:33px">
        </div>
        <div class="media-logo">
          <img src="assets/c-Photoroom.png" alt="ConocoPhillips logo"
            style="width: 160px; height: 46px; margin-top: 10px;">
        </div>
        <div class="media-logo">
          <img src="assets/e-Photoroom.png" alt="AEGON logo" style="width: 100px; height: 76px; margin-top: 30px;">
        </div>
        <div class="media-logo">
          <img src="assets/affirm.png" alt="HSBC logo" style="width: 120px; height: 86px; margin-bottom: -17px;">
        </div>
        <div class="media-logo">
          <img src="assets/k-Photoroom.png" alt="Merrill Lynch logo" style="width: 120px; height: 93px;">
        </div>
        <div class="media-logo">
          <img src="assets/h-Photoroom.png" alt="HSBC logo" style="width: 150px; height: 66px;">
        </div>
        <div class="media-logo">
          <img src="assets/a-Photoroom.png" alt="BP logo" style="width: 120px; height: 66px; margin-top: 5px;">
        </div>
        <div class="media-logo">
          <img src="assets/g-Photoroom.png" alt="HSBC logo" style="width: 120px; height: 176px;">
        </div>
        <div class="media-logo">
          <img src="assets/Bankofamerica.png" alt="Bankofamerica" style="width: 123px; height: 182px; margin-top: 20px;">
        </div>
        <div class="media-logo">
          <img src="assets/b-Photoroom.png" alt="Swift logo" style="width: 120px; height: 46px;">
        </div>
        <div class="media-logo">
          <img src="assets/d-Photoroom.png" alt="Merrill Lynch logo" style="width: 120px; height: 93px; margin-top: 20px;">
        </div>
        <div class="media-logo">
          <img src="assets/Swift.png" alt="Swift" style="width: 133px; height: 62px; margin-top: 20px;">
        </div>
        <div class="media-logo">
          <img src="assets/f-Photoroom.png" alt="HSBC logo" style="width: 180px; height: 196px; margin-top: 30px;">
        </div>
        <div class="media-logo">
          <img src="https://static.cdnlogo.com/logos/f/42/forbes.png" alt="Forbes"
          style="width: 175px; height: 145px; margin-top: 20px;">
        </div>


        <div class="media-logo">
          <img src="assets/Bloomberg.png" alt="HSBC logo" style="width: 120px; height: 86px; margin-top:33px">
        </div>
        <div class="media-logo">
          <img src="assets/i-Photoroom.png" alt="HSBC logo" style="width: 190px; height: 126px; margin-top: 30px;">
        </div>
      <div class="media-logo">
          <img src="assets/Chevron.jpg" alt="Chevron" style="width: 99px; height: 99px; margin-top:33px">
        </div>
        <div class="media-logo">
          <img src="assets/c-Photoroom.png" alt="ConocoPhillips logo"
            style="width: 160px; height: 46px; margin-top: 10px;">
        </div>
        <div class="media-logo">
          <img src="assets/e-Photoroom.png" alt="AEGON logo" style="width: 100px; height: 76px; margin-top: 30px;">
        </div>
        <div class="media-logo">
          <img src="assets/affirm.png" alt="HSBC logo" style="width: 120px; height: 86px; margin-bottom: -17px;">
        </div>
        <div class="media-logo">
          <img src="assets/k-Photoroom.png" alt="Merrill Lynch logo" style="width: 120px; height: 93px;">
        </div>
        <div class="media-logo">
          <img src="assets/h-Photoroom.png" alt="HSBC logo" style="width: 150px; height: 66px;">
        </div>
        <div class="media-logo">
          <img src="assets/a-Photoroom.png" alt="BP logo" style="width: 120px; height: 66px; margin-top: 5px;">
        </div>
        <div class="media-logo">
          <img src="assets/g-Photoroom.png" alt="HSBC logo" style="width: 120px; height: 176px;">
        </div>
        <div class="media-logo">
          <img src="assets/Bankofamerica.png" alt="Bankofamerica" style="width: 123px; height: 182px; margin-top: 20px;">
        </div>
        <div class="media-logo">
          <img src="assets/b-Photoroom.png" alt="Swift logo" style="width: 120px; height: 46px;">
        </div>
        <div class="media-logo">
          <img src="assets/d-Photoroom.png" alt="Merrill Lynch logo" style="width: 120px; height: 93px; margin-top: 20px;">
        </div>
        <div class="media-logo">
          <img src="assets/Swift.png" alt="Swift" style="width: 133px; height: 62px; margin-top: 20px;">
        </div>
        <div class="media-logo">
          <img src="assets/f-Photoroom.png" alt="HSBC logo" style="width: 180px; height: 196px; margin-top: 30px;">
        </div>
        <div class="media-logo">
          <img src="https://static.cdnlogo.com/logos/f/42/forbes.png" alt="Forbes"
          style="width: 175px; height: 145px; margin-top: 20px;">
        </div>


        <div class="media-logo">
          <img src="assets/Bloomberg.png" alt="HSBC logo" style="width: 120px; height: 86px; margin-top:33px">
        </div>
        <div class="media-logo">
          <img src="assets/i-Photoroom.png" alt="HSBC logo" style="width: 190px; height: 126px; margin-top: 30px;">
        </div>
      <div class="media-logo">
          <img src="assets/Chevron.jpg" alt="Chevron" style="width: 99px; height: 99px; margin-top:33px">
        </div>
        <div class="media-logo">
          <img src="assets/c-Photoroom.png" alt="ConocoPhillips logo"
            style="width: 160px; height: 46px; margin-top: 10px;">
        </div>
        <div class="media-logo">
          <img src="assets/e-Photoroom.png" alt="AEGON logo" style="width: 100px; height: 76px; margin-top: 30px;">
        </div>
        <div class="media-logo">
          <img src="assets/affirm.png" alt="HSBC logo" style="width: 120px; height: 86px; margin-bottom: -17px;">
        </div>
        <div class="media-logo">
          <img src="assets/k-Photoroom.png" alt="Merrill Lynch logo" style="width: 120px; height: 93px;">
        </div>
        <div class="media-logo">
          <img src="assets/h-Photoroom.png" alt="HSBC logo" style="width: 150px; height: 66px;">
        </div>
        <div class="media-logo">
          <img src="assets/a-Photoroom.png" alt="BP logo" style="width: 120px; height: 66px; margin-top: 5px;">
        </div>
        <div class="media-logo">
          <img src="assets/g-Photoroom.png" alt="HSBC logo" style="width: 120px; height: 176px;">
        </div>
        <div class="media-logo">
          <img src="assets/Bankofamerica.png" alt="Bankofamerica" style="width: 123px; height: 182px; margin-top: 20px;">
        </div>
        <div class="media-logo">
          <img src="assets/b-Photoroom.png" alt="Swift logo" style="width: 120px; height: 46px;">
        </div>
        <div class="media-logo">
          <img src="assets/d-Photoroom.png" alt="Merrill Lynch logo" style="width: 120px; height: 93px; margin-top: 20px;">
        </div>
        <div class="media-logo">
          <img src="assets/Swift.png" alt="Swift" style="width: 133px; height: 62px; margin-top: 20px;">
        </div>
        <div class="media-logo">
          <img src="assets/f-Photoroom.png" alt="HSBC logo" style="width: 180px; height: 196px; margin-top: 30px;">
        </div>
        <div class="media-logo">
          <img src="https://static.cdnlogo.com/logos/f/42/forbes.png" alt="Forbes"
          style="width: 175px; height: 145px; margin-top: 20px;">
        </div>

        










        
       


      
      
        <div class="media-logo">
          <img src="assets/abc.png" alt="ABC" style="width: 83px; height: 70px; margin-bottom: 4px;">
        </div>
        <div class="media-logo">
          <img src="assets/wsj.png" alt="WSJ" style="width: 63px; height: 72px;">
        </div>
        <div class="media-logo">
          <img src="https://static.cdnlogo.com/logos/f/42/forbes.png" alt="Forbes"
            style="width: 175px; height: 145px; margin-top: 20px;">
        </div>
        <div class="media-logo">
          <img src="assets/abc.png" alt="ABC" style="width: 83px; height: 70px; margin-bottom: 4px;">
        </div>
        <div class="media-logo">
          <img src="assets/wsj.png" alt="WSJ" style="width: 63px; height: 72px;">
        </div>
        <div class="media-logo">
          <img src="assets/wsj.png" alt="WSJ" style="width: 63px; height: 72px;">
        </div> 
        <div class="media-logo">
          <img src="assets/wsj.png" alt="WSJ" style="width: 63px; height: 72px;">
        </div> 



      </div>
    </div>
  </div>
</section>