<section class="process-section">
    <div class="container">
      <h2>What It Looks Like To Work With Us</h2>
      
      <div class="hero-image">
        <img src="/assets/room.jpg" alt="Modern conference room with city view">
      </div>
      
      <div class="process-steps">
        <div class="process-step">
          <div class="icon-circle">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M21 21L16.65 16.65" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M11 7V15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7 11H15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <h3>Discovery</h3>
        </div>
        
        <div class="process-step">
          <div class="icon-circle">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 4H5C4.44772 4 4 4.44772 4 5V19C4 19.5523 4.44772 20 5 20H9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16 4H20C20.5523 4 21 4.44772 21 5V19C21 19.5523 20.5523 20 20 20H16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9 12H16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9 20V4H16V20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <h3>Strategic<br>Planning</h3>
        </div>
        
        <div class="process-step">
          <div class="icon-circle">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.7 6.3C14.3 5.9 13.7 5.9 13.3 6.3L8.7 10.9C8.3 11.3 8.3 11.9 8.7 12.3C9.1 12.7 9.7 12.7 10.1 12.3L14.7 7.7C15.1 7.3 15.1 6.7 14.7 6.3Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18.4 10C18.8 10.4 18.8 11 18.4 11.4L13.8 16C13.4 16.4 12.8 16.4 12.4 16C12 15.6 12 15 12.4 14.6L17 10C17.4 9.6 18 9.6 18.4 10Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6.3 17.7C5.9 17.3 5.9 16.7 6.3 16.3L10.9 11.7C11.3 11.3 11.9 11.3 12.3 11.7C12.7 12.1 12.7 12.7 12.3 13.1L7.7 17.7C7.3 18.1 6.7 18.1 6.3 17.7Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <h3>Design &<br>Development</h3>
        </div>
        
        <div class="process-step">
          <div class="icon-circle">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16 18H8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16 14H8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10 10H9H8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <circle cx="17" cy="14" r="2" stroke="white" stroke-width="2"/>
            </svg>
          </div>
          <h3>Implementation<br>& Execution</h3>
        </div>
        
        <div class="process-step">
          <div class="icon-circle">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 3V21H21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7 14L11 10L15 14L21 8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M21 12V8H17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <h3>Performance<br>Measurement &<br>Optimization</h3>
        </div>
      </div>
      
      <div class="button-container">
        <a href="#" class="strategy-button">
          <span>Schedule A Business Strategy Session</span>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 3L14 8L8 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M14 8H2" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
    </div>
  </section>